@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ImageSite>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Cool image demo website</title>
    <style>
        .col{width: 30%; }
        .col img{width: 100%;}
    </style>
</head>
<body lang="en">
<h1>@Model.Name</h1>
<p>@Model.Description</p>
<hr>
<div style="display: flex; gap: 10px;">
    <div class="col">
        <h1>Full image</h1>
        <img src="@Model.Image.Url()" alt="@Model.Image.Name"/>
    </div>
    <div class="col">
        <h1>Thumbnail</h1>
        <img src="@Model.Image.GetCropUrl(width: 400)" alt="@Model.Image.Name"/>
    </div>
    <div class="col">
        <h1>Thumbnail (webp)</h1>
        <img src="@Model.Image.GetCropUrl(width:  400, furtherOptions: "&format=webp")" alt="@Model.Image.Name"/>
    </div>
</div>
</body>