@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Website>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <title>Cool slimagy demo website</title>
    <style>
        .col{width: 30%; }
        .col img{width: 100%;}
        img {
            display:block;
            width:100%;
        }
    </style>
    
    @* ToDo: add this for slimsy *@
    <script src="/scripts/lazysizes.min.js" async=""></script>
    
</head>
<body lang="en">
<h1>@Model.Name</h1>
<p>@Model.Description</p>
<hr>
<div style="display: flex; gap: 10px;">
    <div class="col">
        <h1>Big image</h1>
        
        <slimsy-picture 
            media-item="@Model.Image"  
            width="1292" height="1200" 
            css-class="myClass" render-lqip="true" 
            render-webp-alternative="true"></slimsy-picture>

    </div>
    <div class="col">
        <h1>Thumbnail</h1>
        
        <slimsy-picture 
            media-item="@Model.Image"  
            width="323" height="300" 
            css-class="myClass" render-lqip="true" 
            ></slimsy-picture>

    </div>
    <div class="col">
        <h1>Thumbnail (webp)</h1>
        
        <slimsy-picture 
            media-item="@Model.Image"  
            width="323" height="300" 
            css-class="myClass" render-lqip="true" 
            render-webp-alternative="true"></slimsy-picture>

    </div>
</div>
</body>